h1{
	color: rgb(136, 181, 136);
	font-family: sans-serif;
	margin: 0;
}
body{
	margin: 0;

}
header{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
main{
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer{
	height: 10vh;
}
#snake{
	position: relative;
	/* padding: 1vw; */
	z-index: 2;
	height: 16px;
}
#map{
	position: absolute;
	/* padding: 1vw; */
	z-index: 1;
	width: 336px;
	height: 336px;
}
#map img{
	width: 336px;
	height: 336px;
}
