h1{
	color: red;
	font-family: sans-serif;
	text-align: center;
	margin: 0;
}
body{
	margin: 0;
}
header{
	justify-content: center;
	height: 10vh;
	display: block;


}
main{
	height: 80vh;
	display: flex;
	justify-content: center;
}
footer{
	height: 10vh;
}
.img{
}