h1{
	color: lightgreen;
	font-family: sans-serif;
	margin: 0;
}
body{
	margin: 0;
}
header{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
main{
	height: 80vh;
	display: flex;
}
footer{
	height: 10vh;
}
#snake{
	position: relative;
	left: 0px;
	top: 0px;
	/* padding: 1vw; */
	z-index: 2;
	height: 16px;
}
#map{
	position: absolute;
	/* padding: 1vw; */
	z-index: 1;
	height: 16px;
}

.pixel{
	
}